__pycache__/
.ipynb_checkpoints
*.egg-info
*.log
dist/
docs/_build
.ruff_cache
/EVALUATIONS/data/fever/wiki-pages
/EVALUATIONS

/_EVALUATIONS
/.vscode
/examples/op_examples
/experiments/lotus
/experiments/imageTable/animal_images_index
/experiments/imageTable/animal_index
/experiments/imageTable/species_index
