__pycache__/
.ipynb_checkpoints
*.egg-info
*.log
dist/
docs/_build
.ruff_cache
/EVALUATIONS/data/fever/wiki-pages
/EVALUATIONS
/experiments/imageTable/animal_images/dataset
/_EVALUATIONS
/.vscode
/examples/op_examples
